<ion-content color="success" class="content-wrapper">
  <ion-card class="registration-card">

    <ion-card-header class="registration-card__header">
      <ion-card-title>GER'S GARAGE</ion-card-title>
    </ion-card-header>

    <ion-card-content class="registration-card__content">
      <div class="registration-card__subtitle">Get access to the app here!</div>

      <ion-item class="registration-card__item">
        <ion-label position="floating">Email:</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-item class="registration-card__item">
        <ion-label position="floating">Password:</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <ion-button class="registration-card__register-button" color="success" expand="full"
        (click)="register()">Register</ion-button>

      <ion-button class="registration-card__back-button" color="success" expand="full" fill="clear"
        href="../login">Back</ion-button>

      <p *ngIf="errorMessage" class="registration-card__error">{{ errorMessage }}</p>

    </ion-card-content>
  </ion-card>
</ion-content>