.welcome-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 45rem;
  
  }
  
  .title {
    color: #10dc60;
  }
  
