<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>


    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="success" class="ion-padding ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Services</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="SERVICE PAGE"></app-explore-container>
  <ion-button class="register-button" href="../login">Register Here</ion-button>

</ion-content>