body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

ion-grid {
  background-color: #3fec50e6;
  height: 25%;
}

ion-input {
  text-align: left;
}

.icon {
  margin: 15%;
  text-align: center;
}
