<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" size="small" color="success" href='../adm'>Back</ion-button>
    </ion-buttons>
    <ion-title slot="start">Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="custom-card" *ngFor="let booking of currentBookings; let i = index">
      <ion-card-content *ngIf="currentUser && currentVehicle">
        <ion-card-title>{{ currentUser.firstName }} {{ currentUser.lastName }}</ion-card-title>
        <ion-card-subtitle>{{ currentVehicle.make }} - {{ currentVehicle.model }} | {{ currentVehicle.year
          }}</ion-card-subtitle>
        <ion-card-subtitle>Date: {{ booking.date }}</ion-card-subtitle>
        <ion-card-subtitle>Status: {{ booking.status }} | {{ booking.time }}</ion-card-subtitle>
        <ion-card-subtitle>Description: {{ booking.userDescription }} | Service: {{ booking.service
          }}</ion-card-subtitle>

        <ion-select class="custom" [(ngModel)]="booking.status" (ionChange)="updateStatus(booking, $event)">
          <ion-select-option *ngFor="let status of statuses" [value]="status">{{status}}</ion-select-option>
        </ion-select>

        <ion-button color="danger" (click)="deleteBooking(i)">Delete</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>