<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  
  <ion-header>
    <ion-toolbar>
      <ion-title>Ger's Garage</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="container">
   
    <ion-card class="about">
      <ion-card-header>
        <ion-card-title>About</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ger's garage is a company run by Ger where he performs maintenance 
          checks for all types of small and medium vehicles </p>
      </ion-card-content>
    </ion-card>


    <ion-card class="service">
      <ion-card-header>
        <ion-card-title>Services</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>In Ger's garage you can find at least 4 types of booking: </p>
          <p>1) Annual Service</p>
          <p>2) Major Service</p>
          <p>3) Repair / Fault</p>  
          <p>4) Major Repair</p>
      </ion-card-content>
    </ion-card>
    <ion-button fill="outline" color="success" class="register-button" href="../login">Appointment</ion-button>
  </div>
</ion-content>
