<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>
    <ion-title>Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{currentUser.firstName}} {{currentUser.lastName}}</ion-card-title>
      <ion-card-subtitle>{{currentVehicle.make}} - {{currentVehicle.model}} | {{currentVehicle.year}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-datetime 
    display-format="DD MMM YYYY" 
    picker-format="DD MMM YYYY" 
    [(ngModel)]="selectedDate" 
    (ionChange)="dateChanged()"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Type of Service</ion-label>
    <ion-select [(ngModel)]="selectedService">
      <ion-select-option value="Annual Service">Annual Service</ion-select-option>
      <ion-select-option value="Major Service">Major Service</ion-select-option>
      <ion-select-option value="Repair/Fault">Repair/Fault</ion-select-option>
      <ion-select-option value="Major Repair">Major Repair</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="errorMessage">
    <ion-label>{{ errorMessage }}</ion-label>
  </ion-item>

  <ion-list *ngIf="!isSundaySelected">
    <ion-radio-group [(ngModel)]="selectedTime">
      <ion-list-header>
        <ion-label>Available Times</ion-label>
      </ion-list-header>

      <ion-grid>
        <ion-row wrap>
          <ion-col size="6" *ngFor="let time of availableTimes">
            <ion-item lines="none">
              <ion-label>{{ time }}</ion-label>
              <ion-radio slot="start" [value]="time"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
  </ion-list>

  <ion-item *ngIf="!isSundaySelected">
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="userDescription" placeholder="Insert details about your appointment ."></ion-textarea>
  </ion-item>
  
  <ion-button color="success" expand="full" *ngIf="!isSundaySelected" (click)="confirmTime()">Confirm Appointment</ion-button>
</ion-content>
